<form>
    <input type="hidden" name="condoName" value="{{data.0.name}}">
        <div class="form-group">
            <input type="text" required placeholder="Add notice " class="form-control" name="text">
            <input type="text" required placeholder="Start date as YYYY-MM-DD hh:mm" class="form-control" name="start">
            <input type="text" required placeholder="End date as YYYY-MM-DD hh:mm" class="form-control" name="end">
        </div>
            <button class="btn btn-success" type="submit" name="addCondo}}">
            Add
            </button>
        
</form>